#box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#setTime{
    font-family: 'Saira Stencil One', cursive;
    font-size: 500%;
}
#setDate{
    background-color: #363940;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
#setColor{
    margin: 20px 0;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
}